*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../picture/main.png);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .box{
    height: 230px;
    width: 330px;
    border: 1px solid white;
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    position: relative;
}
.container h1{
    transform: translate(0%,143%);
    border: 2px solid white;
    color: white;
    background-color: black;
}
.container .box .text-area{
    margin-top: 3em;
    text-align: center;
    font-size: 20px;
}
.container .box .person{
    margin-top: 1em;
    text-align: center;
    font-size: 25px;
    color: #e2c940;
}
.container .box .button-area{
    position: absolute;
    bottom: 0;
    left: 34%;
}
.container .box .button-area #new-quote{
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}
@media(max-width:767px){
    .container{
        width: 100%;
    }
  
}

@media(max-width:767px){
    .container h1{
        min-width: fit-content;
        z-index: 1;
        font-size: 20px;
    }
  
}
